@using Front.Common

@inherits AppLogicComponentBase

@page "/"

<h1>Classroom</h1>

<h4>Here you can start any class of your interest, connect with your class mates, master courses of interest.</h4>
