@inherits ClassesLogic
@page "/"
@page "/classes"

<h1>Classes</h1>

@if (Classes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cls in Classes)
            {
                <tr>
                    <td>@cls.Id.ToString("N")</td>
                    <td>@cls.Name</td>
                    <td>@cls.Description</td>
                    <td>@cls.Created.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}