@inherits ClassesLogic
@page "/"
@page "/classes"

<h1>Classes</h1>

@if (Classes == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cl in Classes)
            {
                <tr>
                    <td>@cl.Id</td>
                    <td>@cl.Name</td>
                    <td>@cl.Description</td>
                    <td>@cl.Created.ToShortDateString()</td>
                </tr>
            }
        </tbody>
    </table>
}